*{
    margin:0px 0px 0px;
    padding: 0px 0px 0px;
    margin-left: 0px;
    margin-top: 0px;
}
.container{
margin-top: 100px;
margin-left:500px;
margin-right: 0px;
margin-bottom: 0px;

}
.form-control{
    width: 25%;
    font-size: 13px;
    text-align: center;
}

.btn{
    background-color: rgb(174, 4, 4) !important;
    color: white;
    margin-left:60px;
    margin-top:20px;
}
.bo{
    margin-left:10px;
    margin-top: 10px;

}
strong{
    text-align: center;
    margin-left:40px
}